<div class="row g-0">
                    <div class="col-xxl-4 col-lg-4 col-md-5">
                        <div class="auth-full-page-content d-flex p-sm-5 p-4">
                            <div class="w-100">
                                <div class="d-flex flex-column h-100">
                                    <div class="mb-4 mb-md-5 text-center">
                                        <a href="/" class="d-block auth-logo">
                            <img src="/img/bg/logo-color.svg" alt="" height="50">
                        </a>
                                    </div>
                                    <div class="auth-content my-auto">
                                        <div class="text-center">
                                            <div class="avatar-lg mx-auto">
                                                <div class="avatar-title rounded-circle bg-light">
                                                    <i class="bx bxs-envelope h2 mb-0 text-primary"></i>
                                                </div>
                                            </div>
                                            <div class="p-2 mt-4">
                                                <h4>Xác thực email của bạn</h4>
                                                <p>Vui lòng xác thực email của bạn trước khi đăng nhập</p>
                                                <div class="mt-4">
                                                    <a href="./resend_mail?email={{message}}" class="btn btn-primary w-10">Xác thực</a>
                                                     <a href="/auth/logout" class="btn btn-danger w-10">Đăng xuất</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                        <!-- end auth full page content -->
                    </div>
                    <!-- end col -->
                                       <!-- end col -->
                    <div class="col-xxl-8 col-lg-8 col-md-7">
        <div class="auth-bg pt-md-5 p-4 d-flex">
                        <div class="bg-overlay"></div>
                            <ul class="bg-bubbles">
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>

            <div class="row justify-content-center align-items-end">
                <div class="col-xl-7">
                    <div class="p-0 p-sm-4 px-xl-0">
                        <div id="reviewcarouselIndicators" class="carousel slide" data-bs-ride="carousel">
                            <div
                                class="carousel-indicators auth-carousel carousel-indicators-rounded justify-content-center mb-0">

                            </div>
                            <!-- end carouselIndicators -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="testi-contain text-center text-white">
                                        <a class="d-block mt-4 fw-medium lh-base">
                                                        <img src="/img/logo-light.svg" alt="" height="200" width="300">
                                                    </a>
                                        <i class="bx bxs-quote-alt-left text-success display-6"></i>
                                        <h4 class="mt-4 fw-medium lh-base text-white">
                                            “
                                            Cùng với sự phát triển của thương mại điện tử, việc đặt mua hàng qua mạng
                                            đã trở thành một xu thế mới. Xu thế này được cả các nhà buôn, các cửa hàng
                                            bán lẻ và người tiêu dùng cá nhân hưởng ứng. Đáp ứng xu thế này, Mubaha.com
                                            cung cấp dịch vụ trung gian nhập hàng Trung Quốc từ các website thương mại
                                            điện
                                            tử hàng đầu Trung Quốc
                                            ”
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <!-- end carousel-inner -->
                        </div>
                        <!-- end review carousel -->
                    </div>
                </div>
            </div>
        </div>
    </div>
                    <!-- end col -->
                </div>