<section class="page-title bg-overlay-black-60 parallax" data-jarallax='{"speed": 0.6}' style="background-image: url(/img/guide_pay.png);">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
      <div class="page-title-name">
          <h1>Mubaha</h1>
          <p>Giải pháp toàn diện cho việc bán hàng thương mại điện tử</p>
        </div>
          <ul class="page-breadcrumb">
            <li><a href="/"><i class="fa fa-home"></i>Trang chủ</a> <i class="fa fa-angle-double-right"></i></li>
            <li><span>Hướng dẫn thanh toán</span> </li>
       </ul>
     </div>
   </div>
  </div>
</section>

<section class="our-team white-bg my-5">
  <div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 position-relative">
        <div class="team-details">
      <div class="row justify-content-center">
                <div class="section-title text-center">
                    <h2 class="title-effect">[Thành viên mới]</h2>
                    <h2 >Làm sao để thanh toán đơn hàng qua Mubaha?</h2>
                </div>
        </div>
        
        <h6 style="color: #F8991D">Mubaha Việt Nam hỗ trợ đặt và giao hàng cho những người mua có địa chỉ tại Việt Nam và Trung Quốc.</h6>
        <p>Người dùng có thể đặt mua một hay đồng thời nhiều sản phẩm một cách dễ dàng thông qua <a href="/">nền tảng web của Mubaha</a> </p>
        <p>Để thanh toán/ đặt cọc các đơn hàng của quý khách được nhanh chóng và thuận tiện nhất. Quý khách vui lòng thực hiện theo các hướng dẫn sau trên website Mubaha theo những cách cụ thể trong bài viết này.</p>

        <h4><strong>1. Chuyển khoản qua ngân hàng</strong></h4>
        <p>Quý khách có thể chuyển khoản vào một trong những tài khoản ngân hàng của Mubaha. Để thuận tiện quý khách có thể sử dụng dịch vụ Internet Banking (hầu hết ngân hàng nào cũng có) trên điện thoại để chuyển tiền bất cứ lúc nào. 
            Ngoài ra quý khách có thể đến các quầy giao dịch trực tiếp để chuyển khoản cho Mubaha. Đến các quầy giao dịch thì không cần yêu cầu phải có tài khoản ngân hàng, chỉ cần mang Chứng minh thư nhân dân/ Thẻ căn cước công dân là có thể thực hiện chuyển tiền. 
            Tùy từng ngân hàng sẽ mất thêm phí giao dịch khi chuyển khoản khác ngân hàng.</p>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center">
                        <h5 class="">Thông tin ngân hàng</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="feature-3 mb-30" style="border: 2px dashed rgb(131, 63, 63);padding:10px">
                        <div class="feature-3-image" style="text-align:center;">
                            <img alt="" src="/img/banks/mb_bank.png" style="height :200px" class="img-fluid">
                        </div>
                        <div class="feature-3-info">
                            <h4 style="text-align:center;" class="text-back">Ngân hàng Quân đội</h4>
                            <br>
                            <p style="text-align:center;">Số tài khoản: Chưa có</p>
                            <p style="text-align:center;">Chủ tài khoản: Chưa có</p>
                            <p style="text-align:center;">Chi nhánh: Chưa có</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="feature-3 mb-30" style="border: 2px dashed rgb(131, 63, 63);padding:12px">
                        <div class="feature-3-infor" style="text-align:center;">
                            <img alt="" src="/img/banks/bidv.jpeg" style="height :200px" class="img-fluid">
                        </div>
                        <div class="feature-3-info">
                            <h4 style="text-align:center;" class="text-back">Ngân hàng BIDV</h4>
                            <br>
                            <p style="text-align:center;">Số tài khoản: 21610000649414</p>
                            <p style="text-align:center;">Chủ tài khoản: Lê Thị Yến</p>
                            <p style="text-align:center;">Chi nhánh: Đống Đa</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="feature-3 mb-30" style="border: 2px dashed rgb(131, 63, 63);padding:10px">
                        <div class="feature-3-image" style="text-align:center;">
                            <img alt="" src="img/banks/tech.png" style="height :200px" class="img-fluid">
                        </div>
                        <div class="feature-3-info">
                            <h4 style="text-align:center;" class="text-back">Ngân hàng TECHCOMBAK</h4>
                            <br>
                            <p style="text-align:center;">Số tài khoản: Chưa có</p>
                            <p style="text-align:center;">Chủ tài khoản: Chưa có</p>
                            <p style="text-align:center;">Chi nhánh: Chưa có</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {{!-- content-pay --}}
        <h4 class="mt-3"><strong>2. Nội dung chuyển tiền</strong></h4>
        <p>Để đảm bảo tiền được chuyển vào tài khoản nhân viên Mubaha nhanh nhất, giúp khách hàng nhanh chóng thanh toán/ đặt cọc các đơn đặt hàng Trung Quốc.
             Quý khách vui lòng chuyển tiền với nội dung sau:</p>
        <h5 style="text-align:center;"><strong>MBH [Số điện thoại] [Họ và tên]</strong></h5>
        <p style="color:red">(Ví dụ: MBH 0373922xxx Nguyễn Minh Q)</p>
        <p class="mb-0" style="color:red">Lưu ý:</p>
        <ul class="mx-5">
            <li>Quý khách chú ý soạn đúng cú pháp để việc nạp tiền giao dịch được nhanh chóng nhất.</li>
            <li>Hai bên xác nhận và gửi Bill chuyển khoản thành công</li>
            <li>Nhân viên sẽ gửi giấy biên nhận thanh toán và danh sách sản phẩm cho khách hàng (bằng bản cứng). (lưu ý nếu bạn nạp tiền ngoài giờ hành chính thời gian nạp sẽ chậm hơn 1 chút).</li>
        </ul>
        {{!-- content-pay --}}

        <h4 class="mt-3"><strong>3. Chuyển khoản qua ATM hoặc các dịch vụ khác</strong></h4>
        <p>Nếu quý khách không thể chuyển khoản qua ngân hàng thì có thể sử dụng chuyển khoản qua cây ATM. Tuy nhiên khi lựa chọn chuyển tiền qua cây ATM sẽ không có phần ghi chú và cần có thẻ ngân hàng.
             Sau khi thực hiện giao dịch qua ATM, quý khách vui lòng soạn tin nhắn với cú pháp và gửi đến số điện thoại sau: </p>
             <h6 style="text-align:center;"><strong>MBH [Tên ngân hàng]  [Số điện thoại]  [Số tiền đã nạp] [Họ và tên] gửi xxxxxxxxxx</strong></h6>

              <p style="text-align:center;">Hoặc liên hệ tới bộ phận chăm sóc khách hàng: 096.247.1688 - 0969.057.026 để được hỗ trợ nhanh nhất</p>  

             <p style="color:red">Ví dụ: MBH Techcombank 0963351688 1.000.000 Nguyễn Minh Q</p>   

             <p style="color:red">Chú ý: Quý khách soạn đúng cú pháp để việc chuyển tiền giao dịch sẽ nhanh chóng hơn.</p> 

        <h4 class="mt-3"><strong>4. Thời gian hoàn thành giao dịch chuyển tiền</strong></h4>
        <p class="mb-2">- Đối với giao dịch thanh toán/ đặt cọc đơn hàng cùng ngân hàng thời gian chuyển tiền sẽ trong 5 - 10 phút.</p>
        <p class="mb-2">- Đối với những trường hợp chuyển tiền khác ngân hàng, thời gian chuyển tiền sẽ mất khoảng 2 - 4 giờ.</p>
        <p>- Nếu quý khách hàng chuyển sau thời điểm 15h30 ngân hàng sẽ chuyển tiền vào tài khoản nhân viên Mubaha trong ngày làm việc tiếp theo.</p>
           


        <p class="my-3">Với đội ngũ và dịch vụ chuyên nghiệp, <strong>Mubaha.com</strong>  tin rằng sẽ làm Quý khách hàng hài lòng trong việc tìm kiếm nguồn hàng, nhập hàng nhằm tiết kiệm chi phí tối đa và kinh doanh hiệu quả.</p>      


</section>

<!-- jquery -->
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/jquery.cookie.js"></script>
<script src="/js/home.js"></script>