<!--=================================
 banner -->
<section class="page-title bg-overlay-black-60 parallax" data-jarallax='{"speed": 0.6}' style="background-image: url(/img/guide.png);">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
      <div class="page-title-name">
          <h1>Mubaha</h1>
          <p>Giải pháp toàn diện cho việc bán hàng thương mại điện tử</p>
        </div>
          <ul class="page-breadcrumb">
            <li><a href="/"><i class="fa fa-home"></i>Trang chủ</a> <i class="fa fa-angle-double-right"></i></li>
            <li><span>Hướng dẫn đặt hàng</span> </li>
       </ul>
     </div>
   </div>
  </div>
</section>

<section class="our-team white-bg my-5">
  <div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 position-relative">
        <div class="team-details">
      <div class="row justify-content-center">
                <div class="section-title text-center">
                    <h2 class="title-effect">[Thành viên mới]</h2>
                    <h2 >Làm sao để đặt hàng qua Mubaha?</h2>
                </div>
        </div>
        
        <h6 style="color: #F8991D">Mubaha Việt Nam hỗ trợ đặt và giao hàng cho những người mua có địa chỉ tại Việt Nam và Trung Quốc.</h6>
        <p>Người dùng có thể đặt mua một hay đồng thời nhiều sản phẩm một cách dễ dàng thông qua <a href="/">nền tảng web của Mubaha</a> </p>
        <p>Trước khi đặt mua sản phẩm bạn cần:</p>

        <h4><strong>1. Đăng nhập tài khoản Mubaha</strong></h4>
        <p>Quý khách vui lòng đăng nhập bằng tài khoản đã có ở Mubaha hoặc đăng nhập thông qua Facebook/ Google. Trong trường hợp chưa đăng ký tài khoản , quý khách có thể chọn dòng <strong>“Đăng kí ngay”</strong>  để đăng ký tài khoản tại Mubaha.</p>
        <img src="/img/guide/user_login.png" style="display: block; margin-left: auto; margin-right: auto; max-width: 100%;" alt="">
        <p>Sau khi đã hoàn tất, quý khách có thể bấm vào chữ <strong>“Đăng kí ngay”</strong>  để hoàn tất quá trình đăng ký. </p>
        <img src="/img/guide/register.png" style="display: block; margin-left: auto; margin-right: auto; max-width: 100%;" alt="">
        <h4 class="mt-3"><strong>2. Đặt hàng tại Mubaha</strong></h4>  
            {{!-- Guide order desktop and smartphone --}}
        <div class="accordion">
                    <div class="acd-group">
                        <a href="#" class="acd-heading">2.1. Đặt hàng trên desktop</a>
                        <div class="acd-des">
                            <p>Đến với giao diện đặt hàng của khách hàng</p>
                            <img src="/img/guide/user_order.png" style="display: block; margin-left: auto; margin-right: auto; max-width: 100%;" alt="Tạo đơn hàng">
                            <div class="clearfix mt-3">
                        
                        <p>Các bạn điền link sản phẩm, số lượng sản phẩm, ghi chú mà quý khách muốn nhân viên chúng tôi hiểu rõ hơn.</p>
                        <p>Sau đó, đến phần lời nhắn quý khách muốn để lại cho chúng tôi</p>
                        <p>Sau đó, đến phần địa chỉ giao hàng, thì quý khách chưa có địa chỉ thì chọn vào chữ <strong>"Tạo địa chỉ mới"</strong></p>
                        
                        <img src="/img/guide/address.png" style="display: block; margin-left: auto; margin-right: auto; max-width: 100%;" alt="">
                        <p class="mt-3">Sau khi đã điền đầy đủ thông tin, quý khách có thể bấm vào chữ <strong>"Tạo"</strong> để hoàn tất tạo địa chỉ giao hàng.</p>
                        <div class="clearfix">
                        <img src="/img/guide/create_add.png" style="display: block; margin-left: auto; margin-right: auto; max-width: 100%;" alt="">
                        <p>Cuối cùng, khách hàng chọn địa chỉ mình mới tạo, rồi bấm vào chữ <strong>"Tạo đơn hàng"</strong> để hoàn tất quá trình đặt hàng.</p>
                        <div class="clearfix">
                        <img src="/img/guide/create_order.png" style="max-width: 100%;" alt="">
                           
                        </div>
                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="acd-group">
                        <a href="#" class="acd-heading">2.2. Đặt hàng trên smartphone</a>
                        <div class="acd-des">
                            <p>Đến với giao diện đặt hàng của khách hàng trên thiết bị smartphone</p>
                            <img src="/img/guide/order_smartphone.jpg" style="display: block; margin-left: auto; margin-right: auto; max-width: 100%;" alt="Tạo đơn hàng">
        
                            <p class="mt-3">Các bạn điền link sản phẩm, số lượng sản phẩm, ghi chú mà quý khách muốn nhân viên chúng tôi hiểu rõ hơn.</p>
                            <p>Sau đó, đến phần lời nhắn quý khách muốn để lại cho chúng tôi</p>
                            <p>Sau đó, đến phần địa chỉ giao hàng, thì quý khách chưa có địa chỉ thì chọn vào chữ <strong>"Tạo địa chỉ mới"</strong></p>
            
                            <img src="/img/guide/address_smartphone.png" style="display: block; margin-left: auto; margin-right: auto; max-width: 100%;" alt="">
                            <p class="mt-3">Sau khi đã điền đầy đủ thông tin, quý khách có thể bấm vào chữ <strong>"Tạo"</strong> để hoàn tất tạo địa chỉ giao hàng.</p>
                            <div class="clearfix">
                            <img src="/img/guide/create_add_smartphone.png" style="display: block; margin-left: auto; margin-right: auto; max-width: 100%;" alt="">
                            <p class="mt-3">Cuối cùng, khách hàng chọn địa chỉ mình mới tạo, rồi bấm vào chữ <strong>"Tạo đơn hàng"</strong> để hoàn tất quá trình đặt hàng.</p>
                            <div class="clearfix">
                            <img src="/img/guide/create_order_smartphone.png" style="max-width: 100%;" alt="">
                            </div>
                            </div>

                        </div>
                    </div>
        </div>
            {{!-- End Guide order desktop and smartphone --}}

        <h4 class="mt-3"><strong>3. Nhận hàng</strong></h4>
        <p>Ngay khi bạn hoàn thành xong việc tạo đơn hàng, Mubaha sẽ liên hệ Shop Trung Quốc để đặt hàng và vận chuyển hàng về cho bạn.</p>
        <p>Bạn có thể theo dõi lộ trình đơn hàng của mình qua website của Mubaha.</p> 
        <p>Hàng từ Trung Quốc sẽ được vận chuyển về kho của Mubaha ở Hà Nội hoặc TP HCM. Bạn có thể chọn trực tiếp đến kho để nhận hàng hoặc chúng tôi sẽ ship hàng đến địa chỉ nhà bạn.</p> 
        <p>Sau khi hàng về đến kho, bạn thanh toán số tiền còn lại (30% giá trị đơn hàng + phí) và nhận hàng.</p>
        <p class="my-3">Với đội ngũ và dịch vụ chuyên nghiệp, <strong>Mubaha.com</strong>  tin rằng sẽ làm Quý khách hàng hài lòng trong việc tìm kiếm nguồn hàng, nhập hàng nhằm tiết kiệm chi phí tối đa và kinh doanh hiệu quả.</p>
        <div class="divider pt-50"></div>

</section>

<section class="service white-bg mt-5 mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <h2 class="title-effect">Quy trình</h2>
                    <p>Các bước đặt hàng và nhận hàng</p>
                </div>
            </div>
        </div>
        <!-- =========================================== -->
        <div class="row">
            <div class="col-lg-6 col-sm-6 mb-30">
                <div class="d-flex border h-100 p-4">
                    <span class="theme-color fa-4x lh-1">1</span>
                    <div class="ms-4">
                        <h4>Tạo đơn hàng</h4>
                        <p class="mb-0">Sao chép link vào mục link, điền số lượng, ghi chú cho sản phẩm và chọn địa chỉ
                            nhận hàng </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 mb-30">
                <div class="d-flex border h-100 p-4">
                    <span class="theme-color fa-4x lh-1">2</span>
                    <div class="ms-4">
                        <h4>Đặt cọc tiền hàng</h4>
                        <p class="mb-0">Sau khi nhận báo giá của chúng tôi, bạn sẽ phải đặt cọc trước cho đơn hàng </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-6 xs-mb-30">
                <div class="d-flex border h-100 p-4">
                    <span class="theme-color fa-4x lh-1">3</span>
                    <div class="ms-4">
                        <h4>Theo dõi đơn hàng</h4>
                        <p class="mb-0">Bạn có thể theo dõi đơn hàng của mình đang được giao đến đâu</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 xs-mb-30">
                <div class="d-flex border h-100 p-4">
                    <span class="theme-color fa-4x lh-1">4</span>
                    <div class="ms-4">
                        <h4>Thanh toán và nhận hàng</h4>
                        <p class="mb-0">Thanh toán nốt số tiền và nhận hàng </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<div id="back-to-top"><a class="top arrow" href="#top"><i class="fa fa-angle-up"></i> <span>Top</span></a></div>

<!-- jquery -->
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/jquery.cookie.js"></script>
<script src="/js/home.js"></script>
