<!--=================================
page-title -->
<section class="page-title center bg-overlay-black-50 parallax" data-jarallax='{"speed": 0.6}' style="background-image: url(/img/bg/30.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
      <div class="page-title-name">
          <h1 class="text-black">Mubaha</h1>
          <p class="text-black">Giải pháp toàn diện cho việc bán hàng</p>
        </div>
        <ul class="page-breadcrumb">
          <li><a href="/"><i class="fa fa-home"></i> Trang chủ</a> <i class="fa fa-angle-double-right"></i></li>
          
          <li><span>Giới thiệu</span> </li>
       </ul>
     </div>
     </div>
  </div>
</section>
<!--=================================
page-title -->



<section class="our-team white-bg my-5">
  <div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 position-relative">
        <div class="team-details">
      <div class="clearfix">
        <div class="title float-start mb-20 section-title text-center">
          <h2 class="title-effect">Giới thiệu về Mubaha</h2>
        </div>
        
        <div class="social-icons social-border color-hover float-end mt-10">
           <ul>
              <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i> </a></li>
              <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i> </a></li>
              <li class="social-dribbble"><a href="#"><i class="fa fa-dribbble"></i> </a></li>
              <li class="social-vimeo"><a href="#"><i class="fa fa-vimeo"></i> </a></li>
              <li class="social-pinterest"><a href="#"><i class="fa fa-pinterest-p"></i> </a></li>
              <li class="social-behance"><a href="#"><i class="fa fa-behance"></i> </a></li>
              <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"></i> </a></li>
           </ul>
          </div>
        </div>
        
        <p>Cùng với sự phát triển của thương mại điện tử, việc đặt mua hàng qua mạng đã trở thành một xu thế mới. Không chỉ các nhà buôn, các cửa hàng bán lẻ mà người tiêu dùng cá nhân cũng rất 
        hưởng ứng. Đáp ứng xu thế này, Mubaha.com cung cấp dịch vụ trung gian <b>nhập hàng Trung Quốc</b> từ các website thương mại điện tử hàng đầu Trung Quốc, bao gồm:</p>
            <ul class="mx-5">
                <li>Tìm kiếm và tư vấn nguồn hàng bán buôn uy tín, giá tận gốc ở Trung Quốc trên các trang TMĐT 1688.com, taobao.com, tmall.com</li>
                <li>Trực tiếp giao dịch với nhà cung cấp Trung Quốc (Đặt hộ hàng, thanh toán hộ đơn hàng, khiếu nại nếu có vấn đề xảy ra đối với hàng hóa)</li>
                <li>Đóng gói và vận chuyển hàng hóa từ Trung Quốc về Việt Nam</li>
                <li>Nhận ký gửi hàng hóa vận chuyển về Việt Nam</li>
            </ul>
            
            <div class="bg-overlay-black-50 mt-3" >
              <img style="width: 756px;max-width: 100%;" src="/img/bg/31.jpg" alt="">
            </div>
            
        <p class="my-3"> <b>Mubaha.com</b>  chính là một <b>giải pháp toàn diện</b>  cho việc bán hàng thương mại điện tử bao gồm: Nhập hàng -  Xử lý đơn hàng - Vận chuyển - Thanh toán.</p>
        <p>Trong dịch vụ nhập hàng, <b>Mubaha.com</b>  luôn cam kết:</p>
        <ul class="mx-5">
                <li><b>Miễn phí</b> 100% dịch vụ Order hộ</li>
                <li><b>Miễn phí</b> đổi tệ và thanh toán hộ đơn hàng</li>
                <li>Đặt hàng trong vòng <b>24 giờ</b>  kể từ khi nhận được đặt cọc</li>
                <li> <b>Hoàn tiền 100%</b>  nếu xảy ra sự cố mất hàng, thiếu hàng (do lỗi của Mubaha)</li>
                <li><b>Thời gian vận chuyển</b> hàng từ Trung Quốc-Việt Nam nhanh nhất (3 - 5 ngày)</li>

        </ul>
            <p class="my-3">Với đội ngũ và dịch vụ chuyên nghiệp, Mubaha.com tin rằng sẽ làm Quý khách hàng hài lòng trong việc tìm kiếm nguồn hàng, nhập hàng nhằm tiết kiệm chi phí tối đa và kinh doanh hiệu quả.</p>

        <div class="info mt-30 clearfix">
           <i class="fa fa-quote-left"></i>
           <p>“Mubaha.com xin trân trọng cảm ơn Quý khách hàng đã tin tưởng lựa chọn dịch vụ của Mubaha.com. Mubaha hiểu rằng, sự tin cậy của Quý khách hàng là tài sản vô giá giúp Mubaha xây dựng thương hiệu của mình. 
               Mubaha.com sẽ không ngừng hoàn thiện, nâng cao chất lượng dịch vụ nhằm đáp lại sự tin tưởng, ủng hộ và hợp tác của Quý khách hàng. ”</p>
        </div>
      </div>
        </div>
    </div>
    <div class="divider pt-50"></div>
  </div>
</section>

<section class="page-section-pb">
  <div class="container">
     <div class="row justify-content-center mt-4">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <h2 class="title-effect">Các dịch vụ của chúng tôi</h2>
                    <p>Chúng tôi luôn cung cấp những dịch vụ tốt nhất cho bạn</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="feature-3 mb-30">
                    <div class="feature-3-image" style="text-align:center">
                        <img alt="" src="/img/icon-dat-hang-thanh-cong-09.jpeg" style="height :150px" class="img-fluid">
                    </div>
                    <div class="feature-3-info">
                        <h4 style="text-align:center" class="text-back">ORDER HÀNG</h4>
                        <p>Dịch vụ order hàng tận gốc trên các trang của Trung Quốc như Taobao, 1688, Tmall,
                            Alibaba, Zara, HM...</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="feature-3 mb-30">
                    <div class="feature-3-infor" style="text-align:center">
                        <img alt="" src="/img/giaohang.png" style="height :150px" class="img-fluid">
                    </div>
                    <div class="feature-3-info">
                        <h4 style="text-align:center" class="text-back">KÝ GỬI HÀNG</h4>
                        <p>Nhận vận chuyển hàng ký gửi với các khách tự thanh toán đơn, các đơn vị không có
                            kho Trung Quốc</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="feature-3 mb-30">
                    <div class="feature-3-image" style="text-align:center">
                        <img alt="" src="img/chuyentien.jpeg" style="height :150px" class="img-fluid">
                    </div>
                    <div class="feature-3-info">
                        <h4 style="text-align:center" class="text-back">ĐỔI TIỀN ALIPAY</h4>
                        <p>Chuyển tiền Alipay nhanh chóng tỷ giá thấp dành cho khách hàng tự mua và thanh toán
                            đơn hàng</p>
                    </div>
                </div>
            </div>
        </div>
      <div class="divider pt-30"></div>
  </div>
</section>

<section class="white-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
       <div class="section-title text-center">
            <h6>Gặp mặt và trao đổi </h6>
            <h2 class="title-effect">Đội ngũ của chúng tôi</h2>
            <p>Chăm sóc và giải đáp mọi thắc mắc của bạn </p>
          </div>
      </div>
    </div>
     <div class="row">
        <div class="col-lg-3 col-sm-6 sm-mb-30">
           <div class="team team-hover">
              <div class="team-photo">
                <img class="img-fluid mx-auto"  src="/img_mubaha/IMG_1764.jpeg" alt="">
              </div>
              <div class="team-description">
                <div class="team-info">
                     <h5><a>Nguyễn Thị A</a></h5>
                     <span>Nhân viên Sale</span>
                </div>
                <div class="team-contact">
                  <span class="call"> 0123 456 789</span>
                  <span class="email"> <i class="fa fa-envelope-o"></i> nguyenthiA@webster.com</span>
                </div>
                <div class="social-icons color clearfix">
                    <ul>
                      <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li class="social-instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
                      <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                 </div>
               </div>
           </div>
          </div>
          <div class="col-lg-3 col-sm-6 sm-mb-30">
           <div class="team team-hover">
              <div class="team-photo">
                <img class="img-fluid mx-auto" src="/img_mubaha/IMG_1260.jpeg" alt="">
              </div>
              <div class="team-description">
                <div class="team-info">
                     <h5><a >Nguyễn Thị B</a></h5>
                     <span>Nhân viên Sale</span>
                </div>
                <div class="team-contact">
                  <span class="call"> 0123 456 789</span>
                  <span class="email"> <i class="fa fa-envelope-o"></i> nguyenthiB@webster.com</span>
                </div>
                <div class="social-icons color clearfix">
                    <ul>
                      <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li class="social-instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
                      <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                 </div>
               </div>
           </div>
          </div>
          <div class="col-lg-3 col-sm-6 xs-mb-30">
           <div class="team team-hover">
              <div class="team-photo">
                <img class="img-fluid mx-auto" src="/img_mubaha/IMG_1764.jpeg" alt="">
              </div>
              <div class="team-description">
                <div class="team-info">
                     <h5><a>Nguyễn Thị C</a></h5>
                     <span>Nhân viên Sale</span>
                </div>
                <div class="team-contact">
                  <span class="call"> 0123 456 789</span>
                  <span class="email"> <i class="fa fa-envelope-o"></i> nguyenthiC@webster.com</span>
                </div>
                <div class="social-icons color clearfix">
                    <ul>
                      <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li class="social-instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
                      <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                 </div>
               </div>
           </div>
          </div>
          <div class="col-lg-3 col-sm-6">
           <div class="team team-hover">
              <div class="team-photo">
                <img class="img-fluid mx-auto" src="/img_mubaha/IMG_1765.jpeg" alt="">
              </div>
              <div class="team-description">
                <div class="team-info">
                     <h5><a>Nguyễn Thị D</a></h5>
                     <span>Nhân viên Sale</span>
                </div>
                <div class="team-contact">
                  <span class="call"> 0123 456 789</span>
                  <span class="email"> <i class="fa fa-envelope-o"></i> nguyenthiD@webster.com</span>
                </div>
                <div class="social-icons color clearfix">
                    <ul>
                      <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li class="social-instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
                      <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                 </div>
               </div>
           </div>
          </div>
       </div>
     <div class="divider pt-50"></div>
  </div>
</section>

<section class="page-section-pb text-center mt-5">
 <div class="container">
  <div class="row">
       <div class="col-lg-3 col-sm-6 sm-mb-30">
         <div class="counter big-counter">
          <span class="timer" data-to="4905" data-speed="10000">4905</span>
          <label>Đơn đặt hàng</label>
        </div>
        </div>
       <div class="col-lg-3 col-sm-6 sm-mb-30">
       <div class="counter big-counter">
          <span class="timer" data-to="3750" data-speed="10000">3750</span>
          <label>Tài khoản</label>
        </div>
       </div>
       <div class="col-lg-3 col-sm-6 xs-mb-30">
      <div class="counter big-counter">
          <span class="timer" data-to="4782" data-speed="10000">4782</span>
          <label>Hài lòng với sản phẩm</label>
        </div>
       </div>
        <div class="col-lg-3 col-sm-6">
       <div class="counter big-counter">
          <span class="timer" data-to="3237" data-speed="10000">3237</span>
          <label>Đánh giá tích cực</label>
        </div>
       </div>
    </div>
 </div>
</section>

<!--=================================
counter-->

{{!-- -------------------------------------------------------------------------------------------------------------------------------- --}}


<section class="page-section-ptb bg-overlay-black-50 parallax" data-jarallax='{"speed": 0.6}' style="background-image: url(img_service/foot1.jpeg);">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center pt-40 pb-40 position-relative">
        <h2 class="text-white mb-20">Đồng ý tham gia với chúng tôi!!</h2>
        <p class="text-white">Click vào bên dưới để đặt hàng ngay nào</p>
        <a class="button mt-20" href="auth/login">
            <span>Đăng nhập</span>
            <i class="fa fa-login"></i>
         </a>
     </div>
     </div>
  </div>
</section>

<script src="/js/jquery-3.6.0.min.js"></script>








