<!--=================================
page-title -->
<section class="page-title center bg-overlay-black-50 parallax" data-jarallax='{"speed": 0.6}' style="background-image: url(/img/bg/30.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
      <div class="page-title-name">
          <h1 class="text-black">Mubaha</h1>
          <p class="text-black">Giải pháp toàn diện cho việc bán hàng</p>
        </div>
        <ul class="page-breadcrumb">
          <li><a href="/"><i class="fa fa-home"></i> Trang chủ</a> <i class="fa fa-angle-double-right"></i></li>
          
          <li><span>Báo giá</span> </li>
       </ul>
     </div>
     </div>
  </div>
</section>
<!--=================================
page-title -->


<section class="our-team white-bg my-5">
  <div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 position-relative">
        <div class="team-details">
      <div class="row justify-content-center">
                <div class="section-title text-center mb-3">
                  <h2 class="title-effect">Bảng giá vận chuyển Mubaha</h2>
                </div>
        </div>

        <div class="mb-3">
        <h5 class="mb-3">Quý khách hàng thân mến.</h5>
        <p class="mb-3">Dịch vụ vận chuyển hàng hóa là loại hàng hóa vô hình, nó phụ thuộc chủ yếu vào tính chất thực tế của hàng. 
        Hàng nhẹ giá sẽ tính theo khối (dài x rộng x cao). Hàng nặng, gọn ít chiếm diện tích xe sẽ tính giá theo ký. 
        Hàng cồng kềnh sẽ có cách quy đổi riêng để tính giá. Do đó để biết giá chính xác khách hàng cần gửi cho chúng tôi các thông tin theo mẫu sau:</p>
        <div>
          <i class="fa fa-arrow-right me-2"></i><a>Tên hàng hóa, quy cách đóng gói: vd hóa chất đóng bao 50kg, máy bơm đóng kiện gỗ,…</a>
        </div>
          
          <div>
            <i class="fa fa-arrow-right me-2"></i> Kích thước: dài x rộng x cao
          </div>
          
          <div>
         <i class="fa fa-arrow-right me-2"></i> Khối lượng, số lượng, số kiện:
          </div>
         <div>
           <i class="fa fa-arrow-right me-2"></i> Địa điểm giao nhận hàng:
         </div>
         <div>
           <i class="fa fa-arrow-right me-2"></i> Hình thức bốc xếp nâng hạ hàng hóa: (lưu ý: 1 số hàng nặng, cồng kềnh sẽ có sử dụng thiết bị cẩu, xe nâng)
         </div>
          
          <div>
          <i class="fa fa-arrow-right me-2"></i> Thời gian giao nhận:
          </div>
          <div>
           <i class="fa fa-arrow-right me-2"></i>
           <a>Các yêu cầu bảo quản đặc biệt: Ví dụ hàng dễ vỡ, hàng chất lỏng, hàng không được chồng ghép,
          Với những đơn hàng đi dạng phục vụ thi công công trình, dự án. Những đơn hàng yêu cầu vận chuyển đặc biệt hãy liên hệ trực tiếp Hotline 096 247 1688 - 0969 057 026.
           Để chúng tôi đưa ra mức giá phù hợp nhất.</a>
         </div>
        </div>

        <div>
          <h5 class="mb-3">Bảng báo giá dịch vụ vận chuyển MUBAHA</h5>
          <p>Dưới đây là bảng giá dịch vụ vận chuyển của chúng tôi:</p>
          <p> <strong>Thời điểm : Áp dụng từ ngày 13/12</strong> </p>
          <table class="table table-bordered" >
            <thead>
              <tr>
              <td style="text-align: center;" colspan="6"><h5 class="mt-3"><strong>BIỂU PHÍ DỊCH VỤ GIA TĂNG</strong></h5></td>
              </tr>
            </thead>

            <tbody>
              <tr>
              <td style="text-align: center; " scope="col"><b>Loại hàng</b></td>
              <td style="text-align: center; " scope="col"><b>Địa điểm</b></td>
              <td style="text-align: center; " scope="col"><b>KG</b></td>
              <td style="text-align: center; " scope="col"><b>M3</b></td>
              <td style="text-align: center; " scope="col"><b>Thời gian</b></td>
              <td style="text-align: center" scope="col"><b>Ghi chú</b></td>
              </tr>

              <tr>
              <td style=" text-align: center;" scope="row"><b>Hàng tạp</b></td>
              <td style=" text-align: center;">Hà Nội</td>
              <td style=" text-align: center;">25,000</td>
              <td style=" text-align: center;">3,500,000</td>
              <td style=" text-align: center;">5-7 ngày</td>
              <td style=" text-align: center;"></td>
              </tr>

              <tr>
              <td style=" text-align: center;" scope="row"><b>Hàng lô > 200kg</b></td>
              <td style=" text-align: center;">Hà Nội</td>
              <td style=" text-align: center;">23,000</td>
              <td style=" text-align: center;">3,300,000</td>
              <td style=" text-align: center;">5-7 ngày</td>
              <td style=" text-align: center;"></td>
              </tr>

            </tbody>
          </table>
          <p class="mt-3"> <b>Lưu ý:</b> Giá cước chưa bao gồm VAT, phụ phí xăng dầu 10%, phí bốc xếp tận nơi. Đây là giá cước tham khảo, để biết giá chính xác nhất theo đơn hàng vui lòng liên hệ trực tiếp 
            Hotline 096 247 1688 - 0969 057 026, quý khách gửi hàng càng nhiều giá càng rẻ.</p>
            <img src="/img/staff_list_price.jpg" style="max-width: 100%;" alt="Staff_Mubaha">
            <p class="mt-3">Mubaha quan tâm chất lượng hàng đầu, vì thế không những chúng tôi cung cấp cho bạn dịch vụ uy tín, mà chúng tôi còn đảm bảo cho bạn mức giá cước phù hợp, phải chăng.</p>
            <p class="mb-0">Trân trọng thông báo.</p>
            <p> <i>Mubaha!</i> </p>    
        </div>
        


</section>


<section class="page-section-ptb bg-overlay-black-50 parallax" data-jarallax='{"speed": 0.6}' style="background-image: url(img_service/foot1.jpeg);">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center pt-40 pb-40 position-relative">
        <h2 class="text-white mb-20">Đồng ý tham gia với chúng tôi!!</h2>
        <p class="text-white">Click vào bên dưới để đặt hàng ngay nào</p>
        <a class="button mt-20" href="auth/login">
            <span>Đăng nhập</span>
            <i class="fa fa-login"></i>
         </a>
     </div>
     </div>
  </div>
</section>

<!--=================================
page-title -->
<script src="/js/jquery-3.6.0.min.js"></script>