<section class="page-title bg-overlay-black-60 parallax" data-jarallax='{"speed": 0.6}' style="background-image: url(/img/support.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
      <div class="page-title-name">
          <h1>Hỗ trợ</h1>
          <p>Chúng tôi có thể giúp gì cho bạn ?</p>
        </div>
          <ul class="page-breadcrumb">
            <li><a href="/"><i class="fa fa-home"></i>Trang chủ</a> <i class="fa fa-angle-double-right"></i></li>
            <li><span>Hỗ trợ</span> </li>
       </ul>
     </div>
   </div>
  </div>
</section>

<section class="faq white-bg mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12" style="margin-top:20px">
                        <div class="section-title text-center">
                            <div class="row justify-content-center">
                                <div>
                                    <h2 class="title-effect">Các câu hỏi thường gặp</h2>
                                </div>
                                <p>Danh mục giải đáp các vấn đề thường xuyên xảy ra đối với khách hàng trong quá trình
                                    nhập hàng
                                    trung quốc, order hàng quảng châu. Nếu khách hàng thắc mắc hay gặp
                                    những vấn đề khi nhập hàng hãy gửi email hoặc liên hệ ngay với Mubaha. Chúng tôi sẽ
                                    giải đáp
                                    toàn bộ vấn đề mà quý khách gặp phải.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="accordion shadow">
                            <div class="acd-group acd-active">
                                <a href="#" class="acd-heading">01. Hàng order là gì?</a>
                                <div class="acd-des">
                                    <p>
                                        Những hàng hóa không được mua trực tiếp tại cửa hàng thường được định nghĩa
                                        chung là
                                        hàng order. Thông thường loại hàng này được đặt mua qua các website thương mại
                                        điện tử
                                        hoặc qua các cửa hàng online. Với xu thế hội nhập hiện nay của nền kinh tế Việt
                                        Nam
                                        nhiều khách hàng có xu hướng chọn mua đồ ngoại chính vì vậy nhu cầu order hàng
                                        quốc tế
                                        đang ngày càng tăng cao. Tuy nhiên các bước giao dịch đa quốc gia thường phức
                                        tạp, nếu
                                        bạn không biết các thủ tục giao dịch thì cần tìm sự hỗ trợ từ những dịch vụ đặt
                                        mua vận
                                        chuyển hàng hóa trung gian để thực hiện các giao dịch chính xác và nhanh nhất.
                                    </p>
                                </div>
                            </div>
                            <div class="acd-group">
                                <a href="#" class="acd-heading">02. ĐẶT HÀNG TỪ CÁC WEBSITE TRUNG QUỐC NHƯ THẾ NÀO?</a>
                                <div class="acd-des">
                                    <p>
                                        Nếu bạn đang có nhu cầu đặt hàng Trung Quốc về Việt Nam trước hết cần truy cập
                                        mubaha.com và đăng ký tài khoản thành viên. Khi có tài khoản đăng nhập bạn thực
                                        hiện tìm
                                        kiếm nguồn hàng, chọn nhà cung cấp, chọn sản phẩm và lên đơn đặt hàng. Để biết
                                        chi tiết
                                        các bước xem ngay: Hướng dẫn đặt hàng tại Mubaha chi tiết nhất
                                    </p>
                                </div>
                            </div>
                            <div class="acd-group">
                                <a href="#" class="acd-heading">03. LÀM THẾ NÀO ĐỂ TÌM ĐÚNG SẢN PHẨM CẦN MUA?</a>
                                <div class="acd-des">
                                    <p>
                                        Nếu bạn đang có nhu cầu đặt hàng Trung Quốc về Việt Nam trước hết cần truy cập
                                        mubaha.com và đăng ký tài khoản thành viên. Khi có tài khoản đăng nhập bạn thực
                                        hiện tìm
                                        kiếm nguồn hàng, chọn nhà cung cấp, chọn sản phẩm và lên đơn đặt hàng. Để biết
                                        chi tiết
                                        các bước xem ngay: Hướng dẫn đặt hàng tại Mubaha chi tiết nhất
                                    </p>
                                </div>
                            </div>
                            <div class="acd-group">
                                <a href="#" class="acd-heading">04. LỰA CHỌN HÀNG NHƯ THẾ NÀO ĐỂ TRÁNH HÀNG GIẢ, HÀNG
                                    NHÁI?</a>
                                <div class="acd-des">
                                    <p>Tại các website TMĐT của Trung Quốc sẽ có những cách xem chi tiết hàng hóa khác
                                        nhau.
                                        Việc tìm kiếm nâng cao và tra cứu đánh giá sản phẩm là cách tốt nhất để bạn kiểm
                                        tra xem
                                        nguồn hàng có chất lượng hay không. Xem ngay cách lựa chọn tìm kiếm nâng cao
                                        đánh giá
                                        nguồn hàng mà chúng tôi tổng hợp được.</p>
                                </div>
                            </div>
                            <div class="acd-group">
                                <a href="#" class="acd-heading">05. LỰA CHỌN NHÀ CUNG CẤP NHƯ THẾ NÀO?</a>
                                <div class="acd-des">
                                    <p>Thông thường mỗi nhà cung cấp trên sàn TMĐT sẽ được nhiều lượt mua hàng và phản
                                        hồi về
                                        sản phẩm tích cực hơn những shop còn lại. Nếu muốn chọn đúng nhà cung cấp tốt,
                                        bạn nên
                                        kiểm tra phản hồi của khách hàng và xem những bình luận sản phẩm bằng ảnh thật
                                        để đánh
                                        giá và lựa chọn. Nhằm giúp bạn có nguồn hàng tốt nhất chúng tôi đã tổng hợp danh
                                        sách
                                        các nhà cung cấp hàng Trung Quốc uy tín, bạn hãy xem ngay! </p>
                                </div>
                            </div>
                            <div class="acd-group">
                                <a href="#" class="acd-heading">06. BẠN CÓ THỂ ĐẶT MUA GÌ VỚI MUBAHA?</a>
                                <div class="acd-des">
                                    <p>Chúng tôi có thể thỏa mãn mọi nhu cầu mua hàng của bạn từ các sản phẩm thời
                                        trang, đồ gia
                                        dụng, mỹ phẩm, các sản phẩm làm đẹp, thiết bị dân dụng, đồ điện tử,... Bên cạnh
                                        đó,
                                        chúng tôi tuyệt đối không đặt và vận chuyển các loại hàng hóa thuộc danh sách
                                        hàng cấm
                                        và những loại mặt hàng dễ cháy nổ, dễ vỡ. </p>
                                </div>
                            </div>
                            <div class="acd-group">
                                <a href="#" class="acd-heading">07. Cách xem hàng như thế nào?</a>
                                <div class="acd-des">
                                    <p>Truy cập trang web mua hàng và chọn đúng loại hàng cần tìm, bạn có thể lựa chọn
                                        theo shop hoặc theo sản phẩm mình quan tâm. </p>
                                </div>
                            </div>
                            <div class="acd-group">
                                <a href="#" class="acd-heading">08.Thế nào là shop uy tín?</a>
                                <div class="acd-des">
                                    <p>Shop uy tín là shop được người tiêu dùng tín nhiệm được đánh giá trên 3 tiêu chí:
                                        độ tin cậy, thái độ phục vụ và tốc độ giao hàng.

                                        Độ uy tín của shop hàng sắp xếp theo thứ tự : trái tim'<'kim cương xanh'<' vương
                                            miện xanh'<' vương miệng vàng. Shop có độ tin cậy cao thì giao dịch càng có
                                            tỷ lệ thành công cao. </p>
                                </div>
                            </div>
                            <div class="acd-group">
                                <a href="#" class="acd-heading">09. Tại sao giỏ hàng của tôi đột ngột biến mất?</a>
                                <div class="acd-des">
                                    <p>Có hai nguyên nhân dẫn đến tình trạng này, thứ 1 là bạn chưa đăng nhập nhưng đã
                                        tiến hành đặt mua, thứ 2 là do không sử dụng trong thời gian quá lâu nên tài
                                        khoản của bạn đã tự đăng xuất. Do vậy, cần lưu ý “chăm sóc” tài khoản của mình
                                        thường xuyên bạn nhé!. </p>
                                </div>
                            </div>
                            <div class="acd-group">
                                <a href="#" class="acd-heading">10. Tại sao có thêm phụ phí cân nặng?</a>
                                <div class="acd-des">
                                    <p>Theo quy định của công ty, những sản phẩm dưới 350gam sẽ được miễn phụ phí cân
                                        nặng. Do vậy, sản phẩm nào nặng quá giới hạn cho phép này sẽ phải trả thêm phụ
                                        phí cân nặng. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--=================================
our activities -->

</section>

<section class="contact white-bg page-section mb-5">
            <div class="container">
                <div class="row justify-content-center" style="margin-top:20px">
                    <div class="col-lg-8">
                        <div class="section-title text-center">
                            <h2>Thông tin liên hệ</h2>
                        </div>
                    </div>
                </div>
                <div class="touch-in white-bg">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 sm-mb-30">
                            <div class="contact-box text-center h-100">
                                <i class="ti-map-alt theme-color"></i>
                                <h5 class="uppercase mt-20">Địa chỉ</h5>
                                <p class="mt-20">
                                    Phong Lan 1-23, Vinhome Riverside, Long Biên, Hà Nội</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 sm-mb-30">
                            <div class="contact-box text-center h-100">
                                <i class="ti-mobile theme-color"></i>
                                <h5 class="uppercase mt-20">Điện thoại</h5>
                                <p class="mt-20"> 089.885.1111</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 sm-mb-30">
                            <div class="contact-box text-center h-100">
                                <i class="ti-email theme-color"></i>
                                <h5 class="uppercase mt-20">Email</h5>
                                <p class="mt-20">ht.mubaha@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</section>

<script src="/js/jquery-3.6.0.min.js"></script>